//----------------------------------*\
// Main Colors
//----------------------------------*/
$body-background: #e8e2e2;
$accent: #fdc22a;
$shadow: 0 4px 8px 0 rgba(0,0,0,0.12);
$hover: #ededed;
$dark-background: #cfcccc;
//----------------------------------*\
// Fonts
//----------------------------------*/
$main-font: 'Source Sans Pro', sans-serif;
$font-color: #737373;
//----------------------------------*\
// Paddings & margins
//----------------------------------*/
$desktop-padding: 4em;
$mobile-padding: 1em;
//----------------------------------*\
// Screen Sizes
//----------------------------------*/
$mobile-small:	240px;
$mobile-large:	320px;
$tablet-small:	480px;
$tablet-large:	768px;
$screen-small:	1024px;
$screen-large:	1280px;
$screen-extra-large: 1640px;
//----------------------------------*\
// Border
//----------------------------------*/
$border-color: #b8b8b8;
$radius: 0.25em;
$circle: 50%;
